In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-05-06 04:23:07,19.7297,-155.0900,79.29,93,100,8.05
1,1,Evreux,FR,2022-05-06 04:23:07,49.0241,1.1508,45.52,100,15,3.44
2,2,Nikolskoye,RU,2022-05-06 04:18:02,59.7035,30.7861,48.09,68,87,6.49
3,3,Ushuaia,AR,2022-05-06 04:15:13,-54.8000,-68.3000,36.34,96,89,7.74
4,4,Margate,GB,2022-05-06 04:20:36,51.3813,1.3862,54.70,77,19,1.99

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
#Configure gmaps to use your google api key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the max teperature.
max_temp =  city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps) --1
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the percent Cloudiness.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-05-06 04:23:07,19.7297,-155.0900,79.29,93,100,8.05
7,7,Rikitea,PF,2022-05-06 04:16:19,-23.1203,-134.9692,77.99,85,63,16.51
12,12,Kapaa,US,2022-05-06 04:18:05,22.0752,-159.3190,80.58,84,100,16.11
16,16,Hithadhoo,MV,2022-05-06 04:16:47,-0.6000,73.0833,84.56,74,97,15.41
23,23,Atuona,PF,2022-05-06 04:15:23,-9.8000,-139.0333,78.89,75,85,14.18
27,27,Bara,NG,2022-05-06 04:23:15,10.3744,10.7288,79.36,68,100,13.00
32,32,Tabou,CI,2022-05-06 04:23:18,4.4230,-7.3528,79.77,87,32,2.21
37,37,Labuhan,ID,2022-05-06 04:23:25,-6.8844,112.2051,86.85,66,32,4.25
43,43,Isangel,VU,2022-05-06 04:22:47,-19.5500,169.2667,79.70,73,10,14.32
49,49,Nhulunbuy,AU,2022-05-06 04:24:29,-12.2333,136.7667,84.81,70,75,20.71

In [16]:
# Check any null data
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df.copy()[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0        Hilo      US     79.29  19.7297 -155.0900
7     Rikitea      PF     77.99 -23.1203 -134.9692
12      Kapaa      US     80.58  22.0752 -159.3190
16  Hithadhoo      MV     84.56  -0.6000   73.0833
23     Atuona      PF     78.89  -9.8000 -139.0333
27       Bara      NG     79.36  10.3744   10.7288
32      Tabou      CI     79.77   4.4230   -7.3528
37    Labuhan      ID     86.85  -6.8844  112.2051
43    Isangel      VU     79.70 -19.5500  169.2667
49  Nhulunbuy      AU     84.81 -12.2333  136.7667

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,79.29,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Rikitea,PF,77.99,-23.1203,-134.9692,People ThankYou
12,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Hithadhoo,MV,84.56,-0.6000,73.0833,Scoop Guest House
23,Atuona,PF,78.89,-9.8000,-139.0333,Villa Enata
27,Bara,NG,79.36,10.3744,10.7288,
32,Tabou,CI,79.77,4.4230,-7.3528,hotêl doufoulougou
37,Labuhan,ID,86.85,-6.8844,112.2051,DoubleFAG
43,Isangel,VU,79.70,-19.5500,169.2667,Tanna Lodge
49,Nhulunbuy,AU,84.81,-12.2333,136.7667,East Arnhem Real Estate

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))